.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutus{
    width: 100%;
    height: 547px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ima{
    width: 100%;
    height: 547px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus img{
    width: 100%;
    height: 100%;
    filter: brightness(14%);
}
.aboutus h1{
    position: absolute;
    font-size: 64px;
    font-weight: 800;
    color: white;
}

.register{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 21px 0px 21px 0px;
}
.register h1{
    font-size: 16px;
    font-weight: 500;
}

.register form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imput{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
}
.imput input{
    width: 100%;
    height: 56px;
    border-radius: 7px;
    border: 1px solid gainsboro;
    padding-left: 14px;
}
.imput textarea{
    width: 100%;
    height: 212px;
    border-radius: 7px;
    border: 1px solid gainsboro;
    padding-left: 14px;
}
.imput button{
    background-color: #0336FF;
    color: white;
    width: 124px;
    height: 33px;
    border: none;
    border-radius: 7px;
}




.collage{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.collage img{
    width: 206px;
    height: 260px;
}
.collage button{
    position: absolute;
    width: 201px;
    height: 52px;
    background-color: #0336FF;
    font-weight: 600;
    color: white;
    border-radius: 7px;
    border: navajowhite;
}

.join{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px 14px 33px 14px;
}
.join h1{
    font-size: 30px;
    font-weight: 700;
}
.join h2{
    color: #0336FF;
    font-size: 30px;
    font-weight: 700;
}
.join form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join input{
    width: 66%;
    height: 66px;
    border: 1px solid gray;
    border-radius: 7px;
    padding-left: 7px;
}
.join button{
    width: 33%;
    height: 66px;
    background-color: #0336FF;
    border: navajowhite;
    color: white;
    font-weight: 600;
    border-radius: 7px;
}

.tbilisi{
    width: 95%;
    min-height: 563px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
    padding: 14px;
}

.tbilisi img{
    width: 100%;
    height: 60%;
}

.words{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    top: 40%;
    width: 80%;
    height: 300px;
    background-color: white;
    box-shadow: 0 21px 33px rgba(0, 0, 0, 0.2);
    
}

.malaysia{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}
.penang{
    display: flex;
    gap: 7px;
}












@media only screen and (max-width: 365px) {
    .aboutus img{
        height: 100%;
    }
  }

@media only screen and (max-width: 444px) {
    .rowForm{
        width: 95%;
    }
    .aboutus h1{
        font-size: 33px;
    }
    .join form{
        gap: 7px;
        flex-direction: column;
    }
    .join form button{
        width: 66%;
    }
    .malaysia{
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 700px) {
   .malaysia{
    flex-direction: column;
   }
  }

  @media only screen and (max-width: 800px) {
    .continent ul{
        flex-direction: column;
    }
    .continent ul li{
        width: 66%;
    }
   }
